# Files to ignore

img/*.pdf
img/Thumbs.db
hecppt.dtx
hecppt.ins
hecppt.pdf
readme.md

# File extensions to ignore

*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.dvi
*.glo
*.idx
*.zip
*.gls
*.ilg
*.ind
*.vrb
